*.iml
*.ipr
*.iws
.git/
.gradle/
.idea/
.settings/
assets/
build/
eclipse/
idea/
libs/
.classpath
.project
CREDITS-fml.txt
forge-1.7.10-10.13.0.1180-changelog.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
out/

# Who made this messy crap? Whatever.
!/fsplib/*.jar
